<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ホーム</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MyQuest</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">ログアウト</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>ホーム画面</h2>
        <p style="color: green;">{{ nickname }}さん、ようこそ。</p>

        <div class="list-group">
            {% if email == "admin@example.com" %}
            <div class="list-group-item list-group-item-dark">管理者画面</div>
            <a href="/user_management" class="list-group-item list-group-item-action list-group-item-dark">1. ユーザー管理</a>
            <a href="/admin" class="list-group-item list-group-item-action list-group-item-dark">2. クイズDBの更新</a>
            {% endif %}
        </div>
        <br>
        <form action="/practice" method="get">
            <h5>過去問演習</h5>
            <div class="d-flex align-items-center mb-3">
                <label for="practice_num_questions" class="form-label me-2">問題数を選択:</label>
                <select name="num_questions" id="practice_num_questions" class="form-select w-auto me-2">
                    <option value="10" selected>10問</option>
                    <option value="20">20問</option>
                    <option value="30">30問</option>
                    <option value="40">40問</option>
                    <option value="50">50問</option>
                </select>
                <button type="submit" class="btn btn-success">テスト開始</button>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="type" id="practice-all" value="all" checked>
                    <label class="form-check-label" for="practice-all">全問題からの出題</label>
                </div>
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="type" id="practice-exclude-answered" value="exclude_answered">
                    <label class="form-check-label" for="practice-exclude-answered">前回2回以上正解した問題を除く</label>
                </div>
            </div>
        </form>

        <hr class="my-4">

        <form action="/section_test" method="post">
            <h5>章ごとのテストはこちら↓から選択してください</h5>
            <div class="d-flex align-items-center mb-3">
                <label for="num_questions" class="form-label me-2">問題数を選択:</label>
                <select name="num_questions" id="num_questions" class="form-select w-auto me-2">
                    <option value="5">5問</option>
                    <option value="10" selected>10問</option>
                    <option value="20">20問</option>
                </select>
                <button type="submit" class="btn btn-success">テスト開始</button>
            </div>
            <div class="list-group">
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-1" value="1" checked>
                    <label class="form-check-label" for="cat-1">1. やる気を高めよう</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-2" value="2">
                    <label class="form-check-label" for="cat-2">2. Python インタプリタを使う</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-3" value="3">
                    <label class="form-check-label" for="cat-3">3. 形式ばらない Python の紹介</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-4" value="4">
                    <label class="form-check-label" for="cat-4">4. その他の制御フローツール</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-5" value="5">
                    <label class="form-check-label" for="cat-5">5. データ構造</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-6" value="6">
                    <label class="form-check-label" for="cat-6">6. モジュール</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-7" value="7">
                    <label class="form-check-label" for="cat-7">7. 入力と出力</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-8" value="8">
                    <label class="form-check-label" for="cat-8">8. エラーと例外</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-9" value="9">
                    <label class="form-check-label" for="cat-9">9. クラス</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-10" value="10">
                    <label class="form-check-label" for="cat-10">10. 標準ライブラリミニツアー</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-11" value="11">
                    <label class="form-check-label" for="cat-11">11. 標準ライブラリミニツアー --- その 2</label>
                </div>
                
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-12" value="12">
                    <label class="form-check-label" for="cat-12">12. 仮想環境とパッケージ</label>
                </div>
                               
                <div class="list-group-item">
                    <input class="form-check-input" type="radio" name="category" id="cat-14" value="14">
                    <label class="form-check-label" for="cat-14">14. 対話入力編集と履歴置換</label>
                </div>

            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>